.nav-item {
    margin-left: 10px;
}

.navbar-brand img {
    width: 68.94px;
    height: 59.98px;
}

.navbar-nav {
    color: #FFFF;
}

#search-input {
    width: 150px;
}

.logo-container {
    width: 170px;
    height: 70px;
}

.search-container{
    position: relative;
}

#navbarDropdownMenuLink{
    color: #FFFF;
}

#navbarDropdownMenuLink:hover{
    color: yellow;
}

#gallery-item{
    color: #FFFF;
}

#gallery-item:hover{
    color: yellow;
}